<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Nerdy T-Shirt</title>
</head>
<body>
    <%- include('../partials/header') %>
    <form action="/addShoppingBag" method="post">
        <fieldset>
            <legend>Color</legend>

            <input type="radio" name="color" id="black" value="black" required
            <% if(shirt) { %>
                <% if(shirt.color === 'black') { %> checked <% }} %>
            >
            <label for="black">black</label>

            <input type="radio" name="color" id="white" value="white" required
            <% if(shirt) { %>
                <% if(shirt.color === 'white') { %> checked <% }} %>
            >
            <label for="white">white</label>
            
            <input type="radio" name="color" id="blue" value="blue" required
            <% if(shirt) { %>
                <% if(shirt.color === 'blue') { %> checked <% }} %>
            >
            <label for="blue">blue</label>
            
            <input type="radio" name="color" id="red" value="red" required
            <% if(shirt) { %>
                <% if(shirt.color === 'red') { %> checked <% }} %>
            >
            <label for="red">red</label>
            
        </fieldset>

        <fieldset>
            <legend>Gender</legend>

            <input type="radio" name="gender" id="male" value="male" required
            <% if(shirt) { %>
                <% if(shirt.gender === 'male') { %> checked <% }} %>
            >
            <label for="male">male</label>

            <input type="radio" name="gender" id="female" value="female" required
            <% if(shirt) { %>
                <% if(shirt.gender === 'female') { %> checked <% }} %>
            >
            <label for="female">female</label>
        </fieldset>
        
        <fieldset>
            <legend>Size</legend>

            <select name="size">
                <option value="XS"
                <% if(shirt) { %>
                    <% if(shirt.size === 'XS') { %> selected <% }} %>
                >XS</option>
                <option value="S"
                <% if(shirt) { %>
                    <% if(shirt.size === 'S') { %> selected <% }} %>
                >S</option>
                <option value="M"
                <% if(shirt) { %>
                    <% if(shirt.size === 'M') { %> selected <% }} %>
                >M</option>
                <option value="L"
                <% if(shirt) { %>
                    <% if(shirt.size === 'L') { %> selected <% }} %>
                >L</option>
                <option value="XL"
                <% if(shirt) { %>
                    <% if(shirt.size === 'XL') { %> selected <% }} %>
                >XL</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Text</legend>

            <input type="text" name="text" placeholder="text voor op je shirt" required
            <% if (shirt.text) { %> value='<%= shirt.text %>' <% } %>
            >
        </fieldset>

        <input type="hidden" name="id" value="<%= id %>">

        <button type="submit">Add to cart</button>
    </form>
</body>
</html>